{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a Computer Science student who loves to travel, read books and play sports. </p>
        <p>Throughout my years of studying, I have had a lot of opportunities to explore and learn things about myself and the world. I love to share my experiences and thoughts with others as i grow older and discover new adventures.</p>
        <p>This blog consists of articles I have written by myself, about various subjects I found interesting or experiences I wanted to share. These articles are mainly about sports, travels, lifestyle, and sometimes even about subjects inspired by the readers. Hope you enjoy your stay here and feel free to contact me about any matter!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}